<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Mon Application</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<h1>Ajouter un contact</h1>
	<form action="http://127.0.0.1:8081/ajouter" method="POST">
		<label>Nom:<input type="text" placeholder="nom" name="nom"></label>
		<label>Téléphone:<input type="text" placeholder="telephone" name="telephone"></label>
		<button type="submit">Soumettre</button>
	</form>
	<table class="tableau">
		<% 
		let noLigne = 0;
		for(elm of adresses) {%>
		<% if(noLigne == 0){%>
		<tr>
		<% 
		noLigne++
		for(p in elm) {%>
			<th><%= p %></th>
		 <% } %>
		</tr>
		<% } %>
		<tr>
		<% for(p in elm) {%>
			<td><%= elm[p] %></td>
		 <% } %>
		</tr>
		<% } %>
	</table>
</body>
</html>